# dependencies
node_modules
client/node_modules
server/node_modules

# Next.js build output
.next
client/.next
out
client/out

# Production build
dist
client/dist
server/dist

# Environment variables
.env
.env.local
server/.env
client/.env

# Logs
logs
*.log

# OS metadata
.DS_Store
Thumbs.db
